.container {
  width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 250px;
  height: 280px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}